{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="ltr">
        <div class="col-xl-5 col-lg- col-md- col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <h3>Password Reset Successfully!</h3>
            <div class="d-flex justify-content-center mt-5">
                <p><a class="btn btn-info mt-3 w-100" href="{% url 'home' %}">Back To Home</a></p>
            </div>
        </div>
    </div>

{% endblock content %}