{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Password Reset Successfully{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center mt-5" dir="ltr">
        <div class="col-xl-5 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <h3>Password Reset Successfully!</h3>
            <p>Now You Can Log Into Your Account.</p>
            <p><a class="btn btn-info mt-3 w-100" href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
{% endblock content %}